



.product-div{
    border: 3px solid darkslateblue;
    border-radius: 5px;
    
}

.product-div img{
    width: 100%;
    height: 286px;
    border-radius: 5px;
}

.product-body{
    padding: 5px 15px;
}