



.product-div{
    border: 2px solid darkslateblue;
    border-radius: 5px;
    position: relative;
    height: 540px;
    width: 100%;
}

.product-div img{
    display: block;
    margin: auto;
    width: 286px;
    height: 286px;
    border-radius: 5px;
}

.product-body{
    padding: 5px 15px;
}

.product-bottom{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    background-color: darkviolet;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    transition: all 0.1s;
}
.product-bottom:hover{
    color: black;
    background-color: darkorange;
}

.product-bottom p span{
    margin-left: 10px;
}